<div class="container mt-10">
    <div class="row">
      <!-- Contenedor Izquierdo: Detalles del Usuario -->
      <div class="col-md-4">
        <div class="container center-form">
            <div class="card p-4 shadow" style="max-width: 400px; width: 100%;">
                <h4 class="text-center mb-4">Suscribete a un fondo</h4>
                <form>
                    <div class="mb-3">
                        <input type="number" class="form-control" id="value" placeholder="Ingresar valor inicial">
                    </div>
                    
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Seleccione un fondo </option>
                        @for (fund of listFund; track $index) {
                        <option>{{fund.id}}</option>
                        }
                      </select>
                    
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Registrar</button>
                    </div>
                </form>
            </div>
        </div>
      </div>

      <!-- Contenedor Derecho: Lista de Transacciones -->
      <div class="col-md-8">
        <div class="card shadow-lg mb-4">
          <div class="card-header bg-secondary text-white">
            <h4 class="mb-0">Te puedes suscribir a los siguientes fondos</h4>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Valor inicial</th>
              </tr>
            </thead>
            <tbody>
              @for (fund of listFund; track $index) {
              <tr>
                <td>{{ fund.id }}</td>
                <td>{{ fund.name }}</td>
                <td>{{ fund.minInitialValue }}</td>
              </tr>
            }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>