<div class="container mt-5">
    <div class="row">
      <!-- Contenedor Izquierdo: Detalles del Usuario -->
      <div class="col-md-5">
        <div class="card shadow-lg mb-4">
          <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Detalles del Usuario</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <!-- Información del usuario -->
              <div class="col-md-11">
                <h5 class="card-title">{{userModel?.fullName}}</h5>
                <p class="card-text"><strong>ID:</strong> {{userModel?.id}}</p>
                <p class="card-text"><strong>Email:</strong> {{userModel?.email}}</p>
                <p class="card-text"><strong>Tipo de documento:</strong> {{userModel?.identificationType}}</p>
                <p class="card-text"><strong>Numero de documento:</strong> {{userModel?.identificationNumber}}</p>
                <p class="card-text"><strong>Saldo disponible:</strong> {{userModel?.availableBalance}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Contenedor Derecho: Lista de Transacciones -->
      <div class="col-md-7">
        <div class="card shadow-lg mb-4">
          <div class="card-header bg-secondary text-white">
            <h4 class="mb-0">Mis suscripciones</h4>
          </div>
          <app-table-subscription></app-table-subscription>
        </div>
      </div>
    </div>
  </div>