<h2>Transacciones</h2>
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">SuscripcionID</th>
        <th scope="col">UserID</th>
        <th scope="col">Tipo</th>
        <th scope="col">Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>mdo</td>
        <td>mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>fat</td>
        <td>mdo</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Thornton</td>
        <td>twitter</td>
        <td>Thornton</td>
        <td>mdo</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Thornton</td>
        <td>twitter</td>
        <td>Thornton</td>
        <td>mdo</td>
      </tr>
    </tbody>
  </table>
