  <div class="col-md-12">
    <div class="card shadow-lg mb-4">
        <div class="card-header bg-secondary text-white">
            <h4 class="mb-0">Lista de transacciones</h4>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">SuscripciónID</th>
              <th scope="col">Tipo</th>
              <th scope="col">Fecha</th>
            </tr>
          </thead>
          <tbody>
            @for (transaction of listTransaction; track $index) {
            <tr>
              <td>{{ transaction.id }}</td>
              <td>{{ transaction.subscriptionId }}</td>
              <td>{{ transaction.transactionType == "OPENING" ? "APERTURA" : "CANCELACION" }} </td>
              <td>{{ transaction.date }}</td>
            </tr>
          }
          </tbody>
        </table>
    </div>
</div>
